<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/flatly/bootstrap.css"></link>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"></link>
<link rel="stylesheet" href="style.css"></link>
<link rel="icon", href="/favicon.ico?v=2"></link>
<title>TODO BM</title>

<h1 class="text-center">Marionette ToDo List</h1>
<div class="container">
  <div id="page"></div>
</div>

<script type="text/template" id="app-template">
  <div id="editor"></div>
  <div id="items"></div>
  <div id="stats"></div>
</script>

<script type="text/template" id="editor-template">
  <div class="col-md-4">
    <div class="form-horizontal">
      <fieldset>
        <legend>Task Creator/Editor</legend>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-btn">
              <button id="clear" class="btn btn-warning btn-icon" type="button">
                <i class="fa fa-eraser fa-2x"></i>
              </button>
            </span>
            <input id="task-name" type="text" class="form-control" placeholder="Write a task name" autofocus="">
            <span class="input-group-btn">
              <button id="submit" class="btn btn-primary btn-icon" type="button">
                <i class="fa fa-save fa-2x"></i>
              </button>
            </span>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</script>

<script type="text/x-handlebars-template" id="items-template">
  <div>
    <div class="col-md-4">
      <fieldset>
        <legend>{{title}} [{{items.length}}]</legend>
          <div class="pre-scrollable">
            {{#each items}}
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-btn">                
                    {{#if completed}}
                      <a class="btn btn-success btn-icon toogle-task" data-id="{{id}}">
                        <i class="fa fa-check fa-2x" data-id="{{id}}"></i>
                      </a>
                    {{^}}
                      <a class="btn btn-info btn-icon toogle-task" data-id="{{id}}">
                        <i class="fa square-o fa-2x" data-id="{{id}}"></i>
                      </a>
                    {{/if}}
                  </span>
                  <label type="text" class="form-control">{{name}}</label>
                  <span class="input-group-btn">
                    <a class="btn btn-danger btn-icon remove-task" data-id="{{id}}">
                      <i class="fa fa-trash fa-2x" data-id="{{id}}"></i>
                    </a>
                  </span>
                </div>
              </div>
            {{/each}}
          </div>
        </legend>
      </fieldset>
    </div>
  </div>
</script>

<script type="text/x-handlebars-template" id="stats-template">
  <div>
    <div class="col-md-4">
      <fieldset>
        <legend>Statistics</legend>
        <div class="row text-center">
          <div class="col-md-12 panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Done</h3>
            </div>
            <div class="panel-body">
              <span class="stat-count">3/4</span>
            </div>
          </div>
          <div class="col-md-12 panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Pending</h3>
            </div>
            <div class="panel-body">
              <span class="stat-count">3/4</span>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.marionette/2.4.5/backbone.marionette.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
<script src="script.js"></script>
